<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location = "classpath:properties/*.properties" />

    <!-- 自动扫描该包，@Service 包扫描 -->
    <context:component-scan base-package="com.taotao.cart.service" />

    <!--使用dubbo发布服务-->
    <!--提供方应用信息，用于计算依赖关系-->
    <dubbo:application name="taotao-cart-service"/>
    <dubbo:registry address="zookeeper://192.168.31.100:2181"/>
    <!--用dubbo协议在20880端口暴露服务-->
    <dubbo:protocol name="dubbo" port="20884"/>
    <!--申明暴露的服务接口-->

    <dubbo:service interface="com.taotao.cart.service.CartService" ref="cartServiceImpl" timeout="300000"/>


</beans>